{{ name }}, у вас профицит {{ monthly_surplus }}. Накопительный вклад {{ deposit_rate }} годовых: доход ~{{ monthly_income }} в месяц при сумме {{ deposit_amount }}. Пополнение в любой момент, снятие по окончании. Открыть вклад онлайн?