{{ name }}, у вас остаются свободные средства. Сберегательный вклад {{ deposit_rate }} годовых: ожидаемый доход ~{{ monthly_income }} в месяц при сумме {{ deposit_amount }}. Государственная защита, удобно пополнять онлайн. Открыть вклад сейчас?